<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>全部居委</key>
		<array>
			<string>全部居委</string>
			<string>枫叶</string>
			<string>广氮社区</string>
			<string>荷光东</string>
		</array>
	</dict>
	<dict>
		<key>家庭医生</key>
		<array>
			<string>不限</string>
			<string>已签约</string>
			<string>未签约</string>
		</array>
	</dict>
	<dict>
		<key>管理类型</key>
		<array>
			<dict>
				<key>管理类型</key>
				<array>
					<string>管理类型</string>
				</array>
			</dict>
			<dict>
				<key>正在管理</key>
				<array>
					<string>居民迁入</string>
					<string>其他</string>
				</array>
			</dict>
			<dict>
				<key>暂停管理</key>
				<array>
					<string>无法联系</string>
					<string>住他处</string>
					<string>拒访</string>
					<string>其他</string>
				</array>
			</dict>
			<dict>
				<key>停止管理</key>
				<array>
					<string>居民迁出</string>
					<string>死亡</string>
					<string>其他</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>排序</key>
		<array>
			<string>排序</string>
			<string>按建档日期倒叙排序</string>
			<string>按姓名顺序排序</string>
			<string>按姓名倒叙排序</string>
			<string>按年龄从小到达排序</string>
		</array>
	</dict>
</array>
</plist>
