<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>title</key>
		<string>全部居委</string>
		<key>isDefaultItem</key>
		<false/>
		<key>subItem</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>全部居委</string>
				<key>isDefaultItem</key>
				<true/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>枫叶</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>广氮社区</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>荷光东</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
		</array>
		<key>test</key>
		<dict/>
	</dict>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>title</key>
		<string>家庭医生</string>
		<key>isDefaultItem</key>
		<false/>
		<key>subItem</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>不限</string>
				<key>isDefaultItem</key>
				<true/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>已签约</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>未签约</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>title</key>
		<string>管理类型</string>
		<key>isDefaultItem</key>
		<false/>
		<key>subItem</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>管理类型</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>管理类型</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>正在管理</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>居民迁入</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>其他</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>暂停管理</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>无法联系</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>住他处</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>拒访</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>其他</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>停止管理</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>居民迁出</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>死亡</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
					<dict>
						<key>Id</key>
						<integer>0</integer>
						<key>title</key>
						<string>其他</string>
						<key>isDefaultItem</key>
						<false/>
						<key>subItem</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>title</key>
		<string>排序</string>
		<key>isDefaultItem</key>
		<false/>
		<key>subItem</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>排序</string>
				<key>isDefaultItem</key>
				<true/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>按建档日期倒叙排序</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>按姓名顺序排序</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>按姓名倒叙排序</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
			<dict>
				<key>Id</key>
				<integer>0</integer>
				<key>title</key>
				<string>按年龄从小到大排序</string>
				<key>isDefaultItem</key>
				<false/>
				<key>subItem</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
